<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTIHNzzwP4Ra6rrI0TSy8ykKSb70qsaIo</string>
	<key>GCM_SENDER_ID</key>
	<string>846579394161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizkysiregar.MyiOSTodoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-be8ea</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-be8ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846579394161:ios:f7da0404f9664d9ecdddd0</string>
</dict>
</plist>